.ptp-1 {
  padding-top:        10%;
}
.prp-1 {
  padding-right:      10%;
}
.pbp-1 {
  padding-bottom:     10%;
}
.plp-1 {
  padding-left:       10%;
}
.pxp-1 {
  padding-left:       10%;
  padding-right:      10%;
}
.pyp-1 {
  padding-top:        10%;
  padding-bottom:     10%;
}
