.ptvh-1 {
  padding-top:        10vh;
}
.prvw-1 {
  padding-right:      10vh;
}
.pbvh-1 {
  padding-bottom:     10vh;
}
.plvw-1 {
  padding-left:       10vh;
}
.pxvw-1 {
  padding-left:       10vh;
  padding-right:      10vh;
}
.pyvh-1 {
  padding-top:        10vh;
  padding-bottom:     10vh;
}
.ptp-1 {
  padding-top:        10%;
}
.prp-1 {
  padding-right:      10%;
}
.pbp-1 {
  padding-bottom:     10%;
}
.plp-1 {
  padding-left:       10%;
}
.pxp-1 {
  padding-left:       10%;
  padding-right:      10%;
}
.pyp-1 {
  padding-top:        10%;
  padding-bottom:     10%;
}
