body, html {
  margin:	          0;
  padding:		      0;
  height:		        100%;
  width:		        100%;
  box-sizing:		    border-box;
  scroll-behavior:	smooth;
  font-family:		  'Roboto', sans-serif;
}
h1, h3, h3, h4, h5, h6 {
  margin:           0px;
}
video {
  display:          block;
}
.text-uppercase {
  text-transform:	  uppercase;
}
.font-weight-bold{
  font-weight:		  bold;
}
.w-50 {
  width:		        50%;
}
.w-90 {
  width:		        90%;
}
.w-100 {
  width:		        100%;
}
.h-auto {
  height:		        auto;
}
.h-10 {
  height:		        10%;
}
.h-8vh {
  height:		        6vh;
}
.h-8vh {
  height:		        8vh;
}
.h-10vh {
  height:		        10vh;
}
.h-50 {
  height:		        50%;
}
.h-80vh {
  height:		        80vh;
}
.h-90vh {
  height:		        90vh;
}
.h-90 {
  height:		        90%;
}
.h-100 {
  height:		        100%;
}
.m-auto {
  margin:		        auto;
}
.mt-1 {
  margin-top:		    4px;
}
.mt-2 {
  margin-top:		    8px;
}
.mt-3 {
  margin-top:		    16px;
}
.mt-4 {
  margin-top:		    32px;
}
.mt-5 {
  margin-top:		    64px;
}
.mb-1 {
  margin-bottom:    4px;
}
.mb-2 {
  margin-bottom:    8px;
}
.mb-3 {
  margin-bottom:    16px;
}
.mb-4 {
  margin-bottom:    32px;
}
.mb-5 {
  margin-bottom:    64px;
}
.pt-1 {
  padding-top:		  4px;
}
.pt-2 {
  padding-top:		  8px;
}
.pt-3 {
  padding-top:		  16px;
}
.pt-4 {
  padding-top:		  32px;
}
.pt-5 {
  padding-top:		  64px;
}
